body {
  box-sizing: border-box;
  background: linear-gradient(to right, #b88686, #628a9c);

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}


li {
  float: right;
}

li a {
  display: flex;
  color: rgb(185, 19, 19);
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;

}

.display {

  margin: 70px;
  padding: 50px;
  color: rgb(192, 51, 51);
  box-shadow: 10px 10px 5px;

}

h1 {
  color: rgba(37, 27, 175, 0.795);

}

.name {
  font-size: 35px;
  /* border: solid 1px rgb(91, 148, 202); */
  width: fit-content;
  box-shadow: 2px 2px 5px;
  color: #1266aa;

}

h3 {
  color: rgb(226, 9, 129);
}

.photo>img {
  position: absolute;
  /* max-width: 90%; */
  /* max-height: 510px; */
  top: 12%;
  left: 59%;
  border-radius: 20px;
  /* border-bottom-left-radius: 10%; */
  overflow: hidden;

}

.text {
  justify-content: center;
  text-align: center;
  margin: 8%;
}

.about.skills {
  margin: 2%;

}

.container {
  width: 40%;
  background-color: rgb(180, 142, 142);
}

.skills {
  text-align: left;
  padding-top: 10px;
  /* padding-bottom: 10px; */
  color: rgb(12, 14, 15);
  padding-bottom: 25px;
}

.dsa {
  width: 35%;
  background-color: #d41b2a;
}

.html {
  width: 95%;
  background-color: #749e8f;
}

.css {
  width: 80%;
  background-color: #4291d1;
}

.js {
  width: 25%;
  background-color: #aa635e;
}

.p2 {
  position: absolute;
  max-width: 350px;
  max-height: 350px;
  top: 102%;
  left: 59%;
  /* background-size: 200px 20px; */
  border: solid transparent;
  border-radius: 10%;
  border-bottom-left-radius: 10%;
  /* overflow: hidden; */
  margin-left: 5%;
}

.projects {
  padding-top: 5px;
  padding-bottom: 25px;

}

.project1 {
  padding: 0%;
  margin: 5%;
}

.project2 {
  padding: 0%;
  margin: 5%;
}

.project3 {
  position: absolute;
  max-width: 90%;
  max-height: 100px;
  top: 211%;
  left: 65%;
  /* background-size: 200px 20px; */
  border: solid transparent;
  border-radius: 10%;
  border-bottom-left-radius: 10%;
  /* overflow: hidden; */
}

.project4 {
  position: absolute;
  max-width: 90%;
  max-height: 100px;
  top: 250%;
  left: 65%;
  /* background-size: 200px 20px; */
  border: solid transparent;
  border-radius: 10%;
  border-bottom-left-radius: 10%;
  /* overflow: hidden; */
}

.content {
  position: absolute;
  top: 50%;
  left: 52%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#contact {
  padding-top: 2%;
  margin: 2%;
}

.contact {
  margin-left: 2%;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 6rem;
}

.contact-form h1 {
  font-size: 80px;
  color: rgb(199, 161, 161);
  margin-bottom: 20px;
}

.contact-form form {
  position: relative;
}

.contact-form form input,
form textarea {
  width: 50%;
  padding: 17px;
  border: none;
  outline: none;
  background: #5c4848;
  color: #fff;
  font-size: 1.1 rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;
}

.contact-form form .btn {

  display: inline-block;
  background: #749e8f;
  font-size: 1.1rem;
  Letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600px;
  border-radius: 10px;
  width: 220px;
  transition: ease .20s;
  cursor: pointer;
}

.contact-form form .btn:hover {
  border: 2px solid;
  background: transparent;
  transform: scale(1.1);
}

.thanks {
  position: relative;
  /* margin-bottom: 3%; */
  display: flex; 
  
   /* bottom: 80%;? */
}

 